<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <context id="context1">
        <plugin type="org.mybatis.generator.plugins.AddLimitOffsetPlugin" />

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
            connectionURL="jdbc:mysql://localhost:3306/bridge?useUnicode=true&amp;characterEncoding=utf8&amp;"
            userId="bridge" password="bridge123" />
        <javaModelGenerator targetPackage="com.sweetmeadow.api.bridge.domain.pojo"
            targetProject="../com.sweetmeadow.api.bridge/src/main/java" />

        <sqlMapGenerator targetPackage="mapper"
            targetProject="../com.sweetmeadow.api.bridge/src/main/resources" />

        <javaClientGenerator targetPackage="com.sweetmeadow.api.bridge.dao.gen"
            targetProject="../com.sweetmeadow.api.bridge/src/main/java" type="XMLMAPPER" />

        <!-- tables to be generated -->
        <table schema="client_app" tableName="client_app">
            <generatedKey column="id" sqlStatement="MySql"
                identity="true" />
        </table>
    </context>
</generatorConfiguration>